.md-radio {
  @include md-theme-component() {
    &.md-checked {

      .md-radio-container {
        @include md-theme-property(background-color, accent);
        @include md-theme-property(border-color, accent);

        &:after {
          // @include md-theme-property(background-color, accent);
          background-color: #fff
        }
        
        .md-radio-label{
          color:#B1B8C1;
        }

      }

      .md-ripple {
        @include md-theme-property(color, accent);
      }
    }

    &.md-checked.md-disabled {
      
      .md-radio-label{
        color:#B1B8C1;
      }
      .md-radio-container{
        @include md-theme-property-by-hue(background-color, red, 400, md-radio, '');
        @include md-theme-property-by-hue(border-color, red, 400, md-radio, '');

        &:after{
          background-color: #fff;
        }

      }
    }

    &.md-checked.md-primary {
      .md-radio-container {
        @include md-theme-property-by-hue(background-color, blue, 500, field, '');
        @include md-theme-property-by-hue(border-color, blue, 500, field, '');
        // @include md-theme-property(background-color, primary);
        // @include md-theme-property(border-color, primary);

        &:after {
          // @include md-theme-property(background-color, primary);
          background-color: #fff;

        }
      }

      .md-ripple {
        @include md-theme-property(color, primary);
      }
    }

    &.md-checked.md-disabled.md-primary {
      .md-radio-container{
        @include md-theme-property-by-hue(background-color, blue, 400, md-radio, '');
        @include md-theme-property-by-hue(border-color, blue, 400, md-radio, '');

        &:after{
          background-color: #fff;
        }

      }
    }

    &.md-checked.md-secondary {
      .md-radio-container {
        @include md-theme-property(background-color, secondary);
        @include md-theme-property(border-color, secondary);

        &:after {
          background-color: #fff;
        }
      }

      .md-ripple {
        @include md-theme-property(color, secondary);
      }
    }
    &.md-checked.md-disabled.md-secondary {
      .md-radio-container {
        @include md-theme-property-by-hue(background-color, purple, 400, md-radio, '');
        @include md-theme-property-by-hue(border-color, purple, 400, md-radio, '');

        &:after {
          // @include md-theme-property(background-color, primary);
          background-color: #fff;

        }
      }

      .md-ripple {
        @include md-theme-property(color, secondary);
      }
    }
    @if md-get-theme-mode() == light {
      .md-radio-container {
        border-color: #B1B8C1;
      }

      &.md-disabled {
        .md-radio-container {
          border-color: rgba(#000, .26);
        }

        &.md-checked {
          .md-radio-container {
            border-color: rgba(#000, .26);

            &:after {
              background-color: rgba(#000, .26);
            }
          }
        }
      }
    } @else {
      .md-radio-container {
        border-color: rgba(#fff, .7);
      }

      &.md-disabled {
        .md-radio-container {
          border-color: rgba(#fff, .3);
        }

        &.md-checked {
          .md-radio-container {
            border-color: rgba(#fff, .3);

            &:after {
              background-color: rgba(#fff, .3);
            }
          }
        }
      }
    }
  }
}
