.md-field {
  @include md-theme-component() {
    @if md-get-theme-mode() == light {
      .md-field-content {
        &:after {
          background-color: rgba(#000, 0.42);
        }
      }

      .md-field-content {
        &:before {
          @include md-theme-property-by-hue(
            background-color,
            blue,
            500,
            field,
            ""
          );

          // @include md-theme-property(background-color, primary);
        }
      }

      .md-helper-text {
        color: #677487;
        font-size: 12px;
        font-weight: normal;
        height: auto;
        position: initial;
      }
      .md-count,
      label {
        color: #677487;
      }

      .md-suffix,
      .md-prefix {
        color: rgba(#000, 0.54);
      }

      .md-input,
      .md-textarea {
        &::-webkit-input-placeholder {
          color: rgba(#000, 0.54);
        }
      }

      &.md-focused,
      &.md-has-value {
        .md-input,
        .md-textarea {
          -webkit-text-fill-color: rgba(#000, 0.87);
        }
      }

      &.md-has-textarea:not(.md-autogrow) {
        &:after {
          border-color: rgba(#000, 0.42);
        }

        &:before {
          @include md-theme-property(border-color, primary);
        }
      }

      &.md-disabled {
        &:after {
          background-image: linear-gradient(
            to right,
            rgba(#000, 0.38) 0%,
            rgba(#000, 0.38) 33%,
            transparent 0%
          );
        }

        label,
        .md-input,
        .md-textarea {
          color: #b1b8c1;
          border-color: #d4d8dd;
        }
      }
    } @else {
      &:after {
        background-color: rgba(#fff, 0.7);
      }

      &:before {
        @include md-theme-property(background-color, primary);
      }

      .md-helper-text,
      .md-count,
      label {
        color: rgba(#fff, 0.7);
      }

      .md-suffix,
      .md-prefix {
        color: rgba(#fff, 0.7);
      }

      .md-input,
      .md-textarea {
        &::-webkit-input-placeholder {
          color: rgba(#fff, 0.7);
        }
      }

      &.md-focused,
      &.md-has-value {
        .md-input,
        .md-textarea {
          -webkit-text-fill-color: #fff;
        }
      }

      &.md-has-textarea:not(.md-autogrow) {
        &:after {
          border-color: #fff;
        }

        &:before {
          @include md-theme-property(border-color, primary);
        }
      }

      &.md-disabled {
        &:after {
          background-image: linear-gradient(
            to right,
            rgba(#fff, 0.7) 0%,
            rgba(#fff, 0.7) 33%,
            transparent 0%
          );
        }

        label,
        .md-input,
        .md-textarea {
          color: rgba(#fff, 0.5);
        }
      }
    }

    > .md-field-content {
      .md-icon {
        &:after {
          @include md-theme-property(background-color, background-variant);
        }
      }
    }

    &.md-invalid {
      &:after {
        @include md-theme-property-by-hue(
          background-color,
          red,
          A400,
          field,
          error
        );
      }

      &.md-has-textarea:not(.md-autogrow) {
        &:before {
          @include md-theme-property-by-hue(
            border-color,
            red,
            A400,
            field,
            error
          );
        }
      }

      // label {
      //   @include md-theme-property-by-hue(color, red, A400, field, error);
      // }

      .md-error {
        @include md-theme-property-by-hue(color, red, 900, field, error);
      }

      .md-date-icon,
      .md-date-icon svg {
        @include md-theme-property-by-hue(color, red, A400, field, error);
        @include md-theme-property-by-hue(fill, red, A400, field, error);
      }
      &.md-outlined {
        .md-input,
        .md-menu.md-select {
          border-color: #f58585;
        }
      }
    }

    &.md-focused,
    &.md-highlight {
      .md-input,
      .md-textarea {
        @include md-theme-property(color, primary, background);
      }

      > .md-icon {
        @include md-theme-property(color, primary, background);
        @include md-theme-property(fill, primary, background);
      }
    }

    &.md-disabled {
      .md-icon svg {
        @include md-theme-property(fill, disabled, background);
      }
    }

    &.md-outlined {
      &.md-disabled {
        label {
          color: #b1b8c1;
        }
        .md-input,
        .md-textarea {
          color: #b1b8c1;
          border-color: #e7e9ec;
          -webkit-text-fill-color: #b1b8c1;
        }
      }
      &.md-focused {
        .md-input {
          @include md-theme-property-by-hue(border-color, blue, 500, field, "");
          // @include md-theme-property(border-color, primary);
        }
      }
      input:-webkit-autofill,
      input:-webkit-autofill:hover,
      input:-webkit-autofill:focus,
      textarea:-webkit-autofill,
      textarea:-webkit-autofill:hover,
      textarea:-webkit-autofill:focus,
      select:-webkit-autofill,
      select:-webkit-autofill:hover,
      select:-webkit-autofill:focus {
        border: 1px solid #d4d8dd;
        -webkit-text-fill-color: rgba(0, 0, 0, 0.87);
        box-shadow: none;
        transition: background-color 5000s ease-in-out 0s;
      }
    }
  }
}
